@use "../abstracts/colors";
@use "../abstracts/type";
*,
*::before,
*::after {
  box-sizing: border-box !important;
}

p {
  font-size: 18px;
}

body {
  overflow-x: hidden;
  background-color: colors.$almost-white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.btn-border {
  border: 2px solid colors.$text-base;
  border-radius: 0.9rem;
}

.btn-inverse {
  background-color: black;
  color: colors.$almost-white;
  border-radius: 0.9rem;
  border: 1px solid black;
}

li {
  color: colors.$medium-gray !important;
}

a {
  color: inherit;
}

a:hover {
  color: black !important;
}

.unstyled-list {
  list-style: none;
}

.client-link {
  display: flex;
  flex-direction: raw;
  justify-content: space-around;
}
